### Creates counts of flavors and words in descriptions and appends each count as a series to the dataframe. 
### Also parses year from title and adds to a series.

In [1]:
import  pandas  as  pd
import  numpy  as  np 
import re
from flavors import *
import datetime

In [2]:
df = pd.read_csv('wineData.csv')
#df.head()

In [3]:
def word_cleaner(word):
    return word in flavor_list

In [4]:
def flav_filter(cell):
    line = re.sub(r'[^\w\s]','',cell)
    lst = list(filter(word_cleaner, line.split(" ")))
    lst = list(set(lst))
    return (' '.join(lst))

In [5]:
def flav_count(cell):
    line = re.sub(r'[^\w\s]','',cell)
    lst = list(line.split(" "))
    #return math.exp(len(lst))
    return len(lst)

In [6]:
def word_count(cell):
    line = re.sub(r'[^\w\s]','',cell)
    lst = list(line.split(" "))
    return len(lst)

In [7]:
def year_extractor(title):
    pattern = re.compile("\d{4}")
    match = pattern.search(title)
    return (2018 - int(match.group()))if match else np.nan

In [8]:
df['age'] = df['title'].apply(year_extractor)

In [9]:
df['clean_list'] = df['description'].apply(flav_filter)

In [10]:
df['flav_count'] = df['clean_list'].apply(flav_count)

In [11]:
df['word_count'] = df['description'].apply(word_count)

In [12]:
df = df[["title","winery","country","province","variety","description","points","price","clean_list","flav_count","word_count","age"]]
df.head()

,title,winery,country,province,variety,description,points,price,clean_list,flav_count,word_count,age
0,Nicosia 2013 Vulkà Bianco (Etna),Nicosia,Italy,Sicily & Sardinia,White Blend,"Aromas include tropical fruit, broom, brimston...",87,NaN,,1,24,5.0
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),Quinta dos Avidagos,Portugal,Douro,Portuguese Red,"This is ripe and fruity, a wine that is smooth...",87,15.0,,1,39,7.0
2,Rainstorm 2013 Pinot Gris (Willamette Valley),Rainstorm,US,Oregon,Pinot Gris,"Tart and snappy, the flavors of lime flesh and...",87,14.0,,1,28,5.0
3,St. Julian 2013 Reserve Late Harvest Riesling ...,St. Julian,US,Michigan,Riesling,"Pineapple rind, lemon pith and orange blossom ...",87,13.0,Pineapple,1,33,5.0
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Sweet Cheeks,US,Oregon,Pinot Noir,"Much like the regular bottling from 2012, this...",87,65.0,,1,41,6.0

In [ ]:
#df['clean_list'].replace('', np.nan, inplace=True)
#df.head()

In [ ]:
#df.dropna(subset=["clean_list"],inplace=True)

In [ ]:
#.head()

In [13]:
df = df[["points","price","word_count","age"]]
df.dropna(inplace=True)
df.head()

   points  price  word_count  age
1      87   15.0          39  7.0
2      87   14.0          28  5.0
3      87   13.0          33  5.0
4      87   65.0          41  6.0
5      87   15.0          42  7.0

In [14]:
df.count()

points        116838
price         116838
word_count    116838
age           116838
dtype: int64

In [15]:
csvpath = "count_data.csv"
df.to_csv(csvpath)